<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>All courses</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/newStyling.css}" rel="stylesheet" />
    <link th:href="@{/DataTables/datatables.css}" rel="stylesheet">

</head>
<body>
<a th:insert="navBar :: bar">
</a>

<div class="table-responsive">
    <table id="courseTable" class="display table table-dark table-striped table-bordered table-hover table-sm p-1 mt-3 ">
        <br>
        <caption>
            <button type="button" class="btn btn-info btn-sm float-left"  data-toggle="modal" data-target="#modalAddNew">
                <a th:href="@{/courses/new}" style="color: white">+ Add new course </a>
            </button>
        </caption>
        <thead>
        <tr>
            <th style="width: 10%">ID</th>
            <th style="width: 30%">COURSE NAME</th>
            <th style="width: 30%">TEACHER</th>
            <th style="width: 10%">EDIT</th>
            <th style="width: 10%">DELETE</th>
        </tr>
        </thead>
        <tbody>
        <form th:each="course : ${courses}">
            <tr>
                <td class="tableRefs" th:href="@{/courses/{id}(id=${course.getCourseId()})}" th:text="${course.getCourseId()}">Course</td>
                <td><a class="tableRefs" th:href="@{/courses/{id}(id=${course.getCourseId()})}" th:text="${course.getCourseName()}">Course</a></td>
                <td><form><a class="tableRefs" th:href="@{/teachers/{id}(id=${course.getTeacherDTO().getTeacherId()})}" th:text="${course.getTeacherDTO().getFullName()}">Teacher</a></form></td>
                <td>
                    <form th:action="@{/courses/{id}/edit(id=${course.getCourseId()})}">
                        <input class="input" type="submit" value="Edit">
                    </form>
                </td>
                <td>
                    <form th:method="DELETE" th:action="@{/courses/{id}(id=${course.getCourseId()})}">
                        <input class="input" type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
        </form>
        </tbody>
    </table>
</div>
<br/>
<hr/>


</body>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/DataTables/datatables.js}"></script>
<script>
    $(document).ready(function(){
        $('#courseTable').dataTable();
    });
</script>

<script th:src="@{/js/bootstrap.min.js}"></script>
</html>