<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New group</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/newStyling.css}" rel="stylesheet" />
    <link th:href="@{/css/buttons.css}" rel="stylesheet" />
</head>

<body>
<a th:insert="navBar :: bar">
</a>
<div class="formType" style="width: 450px">
    <form th:method="POST" th:action="@{/groups}" th:object="${group}">
        <label for="groupName">Enter group name: </label>
        <input type="text" th:field="*{groupName}" id="groupName"/>
        <div th:if="${#fields.hasErrors('groupName')}" th:errors="*{groupName}">ERROR NAME</div>
        <br>
        <br>
        <input class="inputType" type="submit" value="Create"/>
    </form>
    <form>
        <input class="backButton" type="button" value="Cancel" onclick="history.back()">
    </form>
</div>
</body>

<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/jquery/jquery.min.js}"></script>
</html>