.inputType[type=submit] {
    width: 80px;
    height: 30px;
    background-color: rgba(242, 134, 55, 0.86);
    color: white;
    padding: 2px 18px;
    margin: -20px auto;
    border: none;
    cursor: pointer;
    float: left;
}

.backButton[type=button] {
    width: 80px;
    height: 30px;
    background-color: rgba(242, 134, 55, 0.86);
    color: white;
    padding: 2px 14px;
    margin: -20px auto;
    border: none;
    cursor: pointer;
    float: right;
}