<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All timetables</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/newStyling.css}" rel="stylesheet" />
    <link th:href="@{/DataTables/datatables.css}" rel="stylesheet">

</head>
<body>
<a th:insert="navBar :: bar">
</a>

<div class="table-responsive">
    <table id="myTable" class="display table table-dark table-striped table-bordered table-hover table-sm p-1 mt-3 ">
        <br>
        <caption>
            <button type="button" class="btn btn-info btn-sm float-left"  data-toggle="modal" data-target="#modalAddNew">
                <a th:href="@{/timeTables/new}" style="color: white">+ Add new timetable </a>
            </button>
        </caption>
        <thead>
        <tr>
            <th style="width: 10%">ID</th>
            <th style="width: 15%">TABLE NAME</th>
            <th style="width: 15%">DATE</th>
            <th style="width: 10%">EDIT</th>
            <th style="width: 10%">DELETE</th>
        </tr>
        </thead>
        <tbody>
        <form th:each="timetable : ${timetables}">
            <tr>
                <td class="tableRefs" th:href="@{/timeTables/{id}(id=${timetable.getId()})}" th:text="${timetable.getId()}">schedule</td>
                <td><a class="tableRefs" th:href="@{/timeTables/{id}(id=${timetable.getId()})}" th:text="${timetable.getTableName()}">schedule</a></td>
                <td><form><a class="tableRefs" th:href="@{/timeTables/{id}(id=${timetable.getId()})}" th:text="${#dates.format(timetable.getDate(), 'yyyy-MM-dd')}">schedule</a></form></td>
                <td><form th:action="@{/timeTables/{id}/edit(id=${timetable.getId()})}"><input class="input" type="submit" value="Edit"/></form></td>
                <td>
                    <form th:method="DELETE" th:action="@{/timeTables/{id}(id=${timetable.getId()})}">
                        <input class="input" type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
        </form>

        </tbody>
    </table>
</div>
<br/>
<hr/>

</body>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/DataTables/datatables.js}"></script>
<script>
    $(document).ready(function(){
        $('#myTable').dataTable();
    });
</script>

<script th:src="@{/js/bootstrap.min.js}"></script>
</html>
